@charset "UTF-8";

/* lx.portal common.css에서 발최  by 김영인*/

/* fileSelect */
/* line 2283, scss/common.scss */
.fileSelect {
	display: flex;
}

/* line 2284, scss/common.scss */
.fileSelect .fileHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* line 2285, scss/common.scss */
.fileSelect .fileLocal {
	width: 400px;
	height: 40px;
	margin: 0;
	padding: 0;
	color: #555;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	background: #fafafa;
	box-sizing: border-box;
	text-indent: 7px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}

/* line 2287, scss/common.scss */
.fileSelect .fileLocal:focus {
	outline: 0;
}

/* line 2288, scss/common.scss */
.fileSelect .fileLocal::placeholder {
	font-size: 0;
}

/* line 2290, scss/common.scss */
.fileSelect .btnFileSelect {
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	margin-left: 10px;
	text-indent: 0;
	color: #333;
	font-size: 18px;
	font-family: 'Pretendard';
	border: 1px solid #d5d5d5;
	background: #fff;
	border-radius: 4px;
	box-sizing: border-box;
}

/* line 1692, scss/common.scss (김영인 추가 사항)*/
.radio input {
	display: none;
} 