extends ../components/templates/base.pug


block prepend top 
  - pageTitle = "메인 페이지 관리";
block content
  p.edit_type 가로형
  <!-- on 클래스 부여시 활성화 -->
  .edit_ground.horizontal_type
    .edit_container
      .sec.tnb 
        .menu.search_button
          button(type="button")
            span.text 검색
          +edit_btn({className:"delete"})
        .menu.login_button
          button(type="button")
            span.text 로그인
          +edit_btn({className:"delete"})
      .edit_header 
        .sec.logo(mui-addimage="target:.edit_btn;")
          +edit_btn({title:"로고", type:"file"})
        .sec.side
          +edit_btn({title:"메인메뉴"})

      .edit_contents 
        .swiper-wrapper
          .swiper-slide
            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.main
                .grid.title01
                  +edit_btn({title:"메인 타이틀"})

                .grid.title02
                  +edit_btn({title:"서브 타이틀"})
                .grid.search
                  +edit_btn({title:"검색"})
                .grid.quick_service
                  +edit_btn({title:"자주 찾는 서비스"})

            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.sub
                .grid.ver1
                  .grid_in
                    +edit_btn({title:"이미지"})
                  .grid_in
                    +edit_btn({title:"이미지"})
                .grid.ver1
                  .grid_in
                    +edit_btn({title:"이미지"})
                  .grid_in
                    +edit_btn({title:"이미지"})
                .grid.ver1
                  +edit_btn({title:"동영상"})

            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.sub
                //- +edit_btn({className:"big delete"})
                .grid.ver2
                  +edit_btn({title:"이미지 & 동영상"})
                .grid.ver1
                  .grid_in
                    +edit_btn({title:"바로가기"})
                  .grid_in
                    +edit_btn({title:"바로가기"})
            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.sub
                //- +edit_btn({className:"big delete", cla/ssName:"mui_active"})
                .grid.ver1
                  +edit_btn({title:"공지사항"})
                .grid.ver1
                  +edit_btn({title:"이미지"})
                .grid.ver1
                  +edit_btn({title:"이미지"})


                  
            .sec.blocks
              +edit_btn()

    .edit_footer 
      .sec.logo(mui-addimage="target:.edit_btn;")
        +edit_btn({title:"로고", type:"file"})
      .sec.copy 
        +edit_btn({title:"푸터 내용 입력"})
    .edit_config 
      .inset(mui-sticky="offset:70;end:9999", id="edit_config")
        .box
          +button({
            label:"설정 열기",
            className:"toggle_layer",
            muiToggle:'target:#toggle_box1;'
          })
          div(hidden).config_conts#toggle_box1 
            p.title 제목
            //- +form()
            //-   +form_body({title:"이미지 파일 등록"})
            //-     +inputFile()
            //-     +text({
            //-       type:'warning',
            //-       text:"* 3840px X 2160px 를 권장 합니다."
            //-     })
            //-     +button_select({
            //-       label:"등록된 이미지 확인 및 수정"
            //-     })
            //-   +form_body({title:"이미지 파일 등록"})
            //-     +inputFile()
            //-     +text({
            //-       type:'warning',
            //-       text:"* 3840px X 2160px 를 권장 합니다."
            //-     })
            //-     +button_select({
            //-       label:"등록된 이미지 확인 및 수정"
            //-     })
            +tabsWrap({
              active:2,
              className:""
            })
              +tab("메인 기능")
                .layout_cont 
                  button(type="button").box_block
                    .box 
                      span 타이틀
                  button(type="button").box_block
                    .box 
                      span 타이틀
                  button(type="button").box_block
                    .box 
                      span 바로가기
                    .box 
                      span 자주 찾는 서비스
                  button(type="button").box_block.al3x1
                    .box 
                      span 이미지&동영상
                    .box 
                      span 이미지<br>&<br>동영상
                  button(type="button").box_block.al1x3
                    .box 
                      span 이미지<br>&<br>동영상
                    .box 
                      span 이미지&동영상
                  button(type="button").box_block
                    .box 
                      span 타이틀
              +tab("메인 메뉴")
                .layout_cont 
                  button(type="button").box_block.al4x4
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
                    .box 
                      span 메인메뉴<br>&<br>이미지
              +tab("서브 메뉴")
                .layout_cont.al2x2
                  button(type="button").box_block.group.main_menu
                    .box 
                      span 메인 타이틀
                    .box 
                      span 서브 타이틀
                    .box 
                      span 검색바
                    .box.end 
                      span 자주 찾는 서비스
                  button(type="button").box_block.group.sub1x1x1
                    .box_wrap
                      .box 
                        span 이미지
                      .box 
                        span 이미지
                    .box_wrap
                      .box 
                        span 이미지
                      .box 
                        span 이미지
                    .box 
                      span 동영상
                  button(type="button").box_block.group.sub1x1x1
                    .box 
                      span 동영상
                    .box 
                      span 이미지
                    .box 
                      span 이미지
                  button(type="button").box_block.group.sub2x1
                    .box 
                      span 동영상
                    .box_wrap
                      .box 
                        span 바로가기
                      .box 
                        span 바로가기
                  button(type="button").box_block.group.sub2x1
                    .box 
                      span 동영상
                    .box 
                      span 이미지
                  button(type="button").box_block.group.sub1x2
                    .box 
                      span 이미지
                    .box 
                      span 동영상
              +tab("이미지&영상")

  .btnarea_new
    span.al
      button(type="button").btn.bg-grey.lg 초기화
      button(type="button").btn.bg-blue.lg 미리보기
    span.ar 
      button(type="button").btn.bg-grey.lg 이전
      button(type="button").btn.bg-blue.lg 완료

  
