extends ../components/templates/base.pug


block prepend top 
  - pageTitle = "1111";
block content
  +radioCheck({
    type:"radio",
    name:'chk473294',
    lists:[
      {label:'라디오버튼1',},
      {label:'라디오버튼2',},
    ]
  })
  +radioCheck({
    name:'chk473294',
    lists:[
      {label:'라디오버튼1',},
      {label:'라디오버튼2',},
    ]
  })
  +input({
    placeholder:"",
  })
  +inputFile()
  +text({
    type:'warning',
    text:"* 3840px X 2160px 를 권장 합니다."
  })
  +form()
    +form_body({title:"이미지 파일 등록"})
      +inputFile()
      +button_select({
        label:"등록된 이미지 확인 및 수정"
      })
  p.edit_type FIT 
  .edit_ground.fit
    .edit_header 
      .sec.logo 
        +edit_btn({title:"로고"})
      .sec.main_menu 
        +edit_btn({title:"메인메뉴"})
      .sec.tnb 
        button(type="button") 
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13" cy="6.75" r="4.75" stroke="#A3A3A3" stroke-width="2.5"/>
          <mask id="path-2-inside-1_979_4241" fill="white">
          <path d="M0 24.25C0 18.7272 4.47715 14.25 10 14.25H16C21.5228 14.25 26 18.7272 26 24.25V25.25H0V24.25Z"/>
          </mask>
          <path d="M-2.5 24.25C-2.5 17.3464 3.09644 11.75 10 11.75H16C22.9036 11.75 28.5 17.3464 28.5 24.25H23.5C23.5 20.1079 20.1421 16.75 16 16.75H10C5.85786 16.75 2.5 20.1079 2.5 24.25H-2.5ZM26 25.25H0H26ZM-2.5 25.25V24.25C-2.5 17.3464 3.09644 11.75 10 11.75V16.75C5.85786 16.75 2.5 20.1079 2.5 24.25V25.25H-2.5ZM16 11.75C22.9036 11.75 28.5 17.3464 28.5 24.25V25.25H23.5V24.25C23.5 20.1079 20.1421 16.75 16 16.75V11.75Z" fill="#A3A3A3" mask="url(#path-2-inside-1_979_4241)"/>
          </svg>
        button(type="button") 
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.9398 17.2693L24 22.3282L22.3282 24L17.2693 18.9398C15.3869 20.4488 13.0456 21.2696 10.6331 21.2661C4.76361 21.2661 0 16.5025 0 10.6331C0 4.76361 4.76361 0 10.6331 0C16.5025 0 21.2661 4.76361 21.2661 10.6331C21.2696 13.0456 20.4488 15.3869 18.9398 17.2693ZM16.5699 16.3926C18.0693 14.8507 18.9066 12.7838 18.9032 10.6331C18.9032 6.06439 15.2017 2.3629 10.6331 2.3629C6.06439 2.3629 2.3629 6.06439 2.3629 10.6331C2.3629 15.2017 6.06439 18.9032 10.6331 18.9032C12.7838 18.9066 14.8507 18.0693 16.3926 16.5699L16.5699 16.3926Z" fill="#A3A3A3"/>
          </svg>

    .edit_contents 
      .sec.main_title
        +edit_btn({title:"메인타이틀"})
      .sec.sub_title
        +edit_btn({title:"서브타이틀"})
      .sec.sub_gotolink
        +edit_btn({title:"바로가기버튼설정"})
      .sec.main_menu
        +edit_btn({title:"메인메뉴"})
      .sec.sub_menu
        +edit_btn({title:"서브메뉴"})
    .edit_footer 
      .sec.logo 
        +edit_btn({title:"로고"})
      .sec.copy
        +edit_btn({title:"푸터 내용 입력"})
    .edit_quick_service
      +edit_btn({title:"자주 찾는 서비스 설정", className:"vertical"})
  

  p.edit_type 세로형
  .edit_ground.vertrical_type
    .edit_header 
      .sec.logo 
        +edit_btn({title:"로고"})
      .sec.main_menu 
        +edit_btn({title:"메인메뉴"})
      .sec.tnb 
        button(type="button") 
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13" cy="6.75" r="4.75" stroke="#A3A3A3" stroke-width="2.5"/>
          <mask id="path-2-inside-1_979_4241" fill="white">
          <path d="M0 24.25C0 18.7272 4.47715 14.25 10 14.25H16C21.5228 14.25 26 18.7272 26 24.25V25.25H0V24.25Z"/>
          </mask>
          <path d="M-2.5 24.25C-2.5 17.3464 3.09644 11.75 10 11.75H16C22.9036 11.75 28.5 17.3464 28.5 24.25H23.5C23.5 20.1079 20.1421 16.75 16 16.75H10C5.85786 16.75 2.5 20.1079 2.5 24.25H-2.5ZM26 25.25H0H26ZM-2.5 25.25V24.25C-2.5 17.3464 3.09644 11.75 10 11.75V16.75C5.85786 16.75 2.5 20.1079 2.5 24.25V25.25H-2.5ZM16 11.75C22.9036 11.75 28.5 17.3464 28.5 24.25V25.25H23.5V24.25C23.5 20.1079 20.1421 16.75 16 16.75V11.75Z" fill="#A3A3A3" mask="url(#path-2-inside-1_979_4241)"/>
          </svg>
        button(type="button") 
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.9398 17.2693L24 22.3282L22.3282 24L17.2693 18.9398C15.3869 20.4488 13.0456 21.2696 10.6331 21.2661C4.76361 21.2661 0 16.5025 0 10.6331C0 4.76361 4.76361 0 10.6331 0C16.5025 0 21.2661 4.76361 21.2661 10.6331C21.2696 13.0456 20.4488 15.3869 18.9398 17.2693ZM16.5699 16.3926C18.0693 14.8507 18.9066 12.7838 18.9032 10.6331C18.9032 6.06439 15.2017 2.3629 10.6331 2.3629C6.06439 2.3629 2.3629 6.06439 2.3629 10.6331C2.3629 15.2017 6.06439 18.9032 10.6331 18.9032C12.7838 18.9066 14.8507 18.0693 16.3926 16.5699L16.5699 16.3926Z" fill="#A3A3A3"/>
          </svg>

    .edit_contents 
      .sec.main_title
        +edit_btn({title:"메인타이틀"})
      .sec.sub_title
        +edit_btn({title:"서브타이틀"})
      .sec.search
        +edit_btn({title:"검색"})
      .sec.add_template
        +edit_btn()
      .sec.grid_4x2
        .grid
          +edit_btn()
        .grid
          +edit_btn()
        .grid
          +edit_btn()
        .grid
          +edit_btn()
        .grid
          +edit_btn()
        .grid
          +edit_btn()
        .grid
          +edit_btn()
        .grid
          +edit_btn()
    .edit_footer 
      .sec.logo 
        +edit_btn({title:"로고"})
      .sec.copy
        +edit_btn({title:"푸터 내용 입력"})
    .edit_bg 
      +edit_btn()
  

  