extends ../components/templates/base2.pug

block content
  .edit_ground.horizontal_type(mui-scrollbar="")
    
    .edit_container
      .sec.tnb 
        .menu.search_button
          button(type="button")
            span.text 검색
        .menu.login_button
          button(type="button") 
            span.text 로그인
        .menu.all_menu
          button(type="button")
            span.hidden 전체메뉴
      .edit_header 
        .sec.logo
          a(href="") 
            img(src="/admin/images/logo_ex2.png", alt="")
        .sec.side
          .menu 
            ul 
              li.mui_active
                a(href="") 데이터 공간
                .sub_menu
                  .inset 
                    ul 
                      li 
                        a(href="") 파일 관리
                      li 
                        a(href="") 테이블 관리
                      li 
                        a(href="") 데이터 검색
              li  
                a(href="") 지도 공간
              li  
                a(href="") 업무 공간
              li  
                a(href="") 통합 게시판
              li  
                a(href="") 서비스 공간
              li  
                a(href="") 커뮤니티
              li  
                a(href="") 고객지원

      .edit_contents
        .bg(style="width:2338px")
          .pc(style="background:url(/admin/images/bg_ex02.png) no-repeat center top / 100% 100%")
        .swiper-wrapper
          .swiper-slide
            .sec.blocks
              .grid_blocks.main
                .grid.title01
                  p.text(style="color:#fff") 전주시 빅데이터 플랫폼
                .grid.title02
                  p.text(style="color:#fff") 전주시 빅데이터 플랫폼에 오신것을 환영합니다.
                .grid.search
                  <!-- 블랙버전 type_black -->
                  +input_button({
                    btnText:"검색",
                    placeholder:"검색어를 입력해주세요.",
                    type:"input",
                    className:"search_btn"
                  })
                .grid.quick_service
                  .quick_service_el 
                    p.title(style="color:#fff") 자주 찾는 서비스
                    .tags 
                      a(href="") 서비스1
                      a(href="") 서비스2
                      a(href="") 서비스3
                      a(href="") 서비스4
                      a(href="") 서비스5
            .sec.blocks
              .grid_blocks.sub
                .grid.ver1
                  .grid_in
                    a.goto_link(href="", style="background:rgba(45, 53, 155, 0.9)")
                      span.icon 
                        img(src="/admin/images/ico_ex5.png", alt="")
                      span.text 데이터 공간
                  .grid_in
                    a.goto_link(href="", style="background:rgba(255, 255, 255, 0.9)") 
                      span.icon 
                        img(src="/admin/images/ico_ex4.png", alt="")
                      span.text(style="color:rgba(67, 74, 162, 1)") 지도 서비스
                .grid.ver1
                  .grid_in
                    a.goto_link(href="", style="background:rgba(45, 53, 155, 0.9)")
                      span.icon 
                        img(src="/admin/images/ico_ex5.png", alt="")
                      span.text 데이터 공간
                  .grid_in
                    a.goto_link(href="", style="background:rgba(255, 255, 255, 0.9)") 
                      span.icon 
                        img(src="/admin/images/ico_ex4.png", alt="")
                      span.text(style="color:rgba(67, 74, 162, 1)") 지도 서비스
                .grid.ver1
                  +edit_btn({title:"동영상", className:"mui_active"})
                  .slides_wrap(mui-slider="pagination:true;arrow:true;")
                    .slider
                      .swiper-wrapper
                        .slide_list.swiper-slide
                          .movie_photo
                            .preview 
                              img(src="/admin/images/img_ex3.png", alt="")
                        .slide_list.swiper-slide
                          .movie_photo
                            .preview 
                              img(src="/admin/images/img_ex3.png", alt="")
                        .slide_list.swiper-slide
                          .movie_photo
                            .preview 
                              img(src="/admin/images/img_ex3.png", alt="")



          .sec.blocks
            .grid_blocks.sub
              .grid.ver2
                .movie_photo
                  .preview 
                    img(src="/admin/images/img_ex2.png", alt="")
              .grid.ver1
                .grid_in
                  a.goto_link(href="", style="background:rgba(45, 53, 155, 0.9)")
                    span.icon 
                      img(src="/admin/images/ico_ex5.png", alt="")
                    span.text 데이터 공간
                .grid_in
                  a.goto_link(href="", style="background:rgba(255, 255, 255, 0.9)") 
                    span.icon 
                      img(src="/admin/images/ico_ex4.png", alt="")
                    span.text(style="color:rgba(67, 74, 162, 1)") 지도 서비스
          .sec.blocks
            .grid_blocks.sub
              //- +edit_btn({className:"big delete", cla/ssName:"mui_active"})
              .grid.ver1
                .notice_wrap
                  .notice
                    p.title 공지사항
                    ul
                      li 
                        a 
                          span.text 공지사항입니다. 공지사항입니다. 공지사항입니다. 공지사항입니다. 
                          span.date 2021-12-31
                      li 
                        a 
                          span.text 공지사항입니다.
                          span.date 2021-12-31
                      li 
                        a 
                          span.text 공지사항입니다.
                          span.date 2021-12-31
                      li 
                        a 
                          span.text 공지사항입니다.
                          span.date 2021-12-31
              .grid.ver1
                .movie_photo
                  .preview 
                    img(src="/admin/images/img_ex3.png", alt="")
                  a(href="").link
                    span.play
              .grid.ver1
                .movie_photo
                  .preview 
                    img(src="/admin/images/img_ex3.png", alt="")

    .edit_footer(style="background:#aaa")
      .sec.logo(mui-addimage="target:.edit_btn;")
        a(href="") 
          img(src="/admin/images/logo_ex2.png", alt="")
      .sec.copy 
        p.text (우)54994 전라북도 전주시 완산구 노송광장로 10 | 대표전화 : 063-222-1000 | 팩스 : 063-281-5000
        p.copyright Copyright © 2023 Jeonjy City. All Rights Reserved.
