extends ../components/templates/base.pug


block prepend top 
  - pageTitle = "메인 페이지 관리";
block content
  p.edit_type 가로형
  .edit_ground.horizontal_type
    .edit_container
      .sec.tnb 
        .menu.search_button
          button(type="button")
            span.text 검색
          +edit_btn({className:"delete"})
        .menu.login_button
          button(type="button")
            span.text 로그인
          +edit_btn({className:"delete"})
      .edit_header 
        .sec.logo(mui-addimage="target:.edit_btn;")
          +edit_btn({title:"로고", type:"file"})
        .sec.side
          +edit_btn({title:"메인메뉴", className:"mui_active"})
          .menu 
            ul 
              li.mui_active
                a(href="") 데이터 공간
                .sub_menu 
                  .inset 
                      ul 
                        li 
                          a(href="") 파일 관리
                        li 
                          a(href="") 테이블 관리
                        li 
                          a(href="") 데이터 검색
              li  
                a(href="") 지도 공간
              li  
                a(href="") 업무 공간
              li  
                a(href="") 통합 게시판
              li  
                a(href="") 서비스 공간
              li  
                a(href="") 커뮤니티
              li  
                a(href="") 고객지원

      .edit_contents 
        .swiper-wrapper
          .swiper-slide
            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.main
                .grid.title01
                  +edit_btn({title:"메인 타이틀", className:"mui_active"})
                  p.text 전주시 빅데이터 플랫폼

                .grid.title02
                  +edit_btn({title:"서브 타이틀", className:"mui_active"})
                  p.text 전주시 빅데이터 플랫폼에 오신것을 환영합니다.
                .grid.search
                  +edit_btn({title:"검색", className:"mui_active"})
                  <!-- 블랙버전 type_black -->
                  +input_button({
                    btnText:"검색",
                    placeholder:"검색어를 입력해주세요.",
                    type:"input",
                    className:"search_btn type_black"
                  })
                .grid.quick_service
                  +edit_btn({title:"자주 찾는 서비스", className:"mui_active"})
                  .quick_service_el 
                    p.title 자주 찾는 서비스
                    .tags 
                      a(href="") 서비스1
                      a(href="") 서비스2
                      a(href="") 서비스3
                      a(href="") 서비스4
                      a(href="") 서비스5
            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.sub
                .grid.ver1
                  .grid_in
                    +edit_btn({title:"이미지"})
                  .grid_in
                    +edit_btn({title:"이미지"})
                .grid.ver1
                  .grid_in
                    +edit_btn({title:"이미지"})
                  .grid_in
                    +edit_btn({title:"이미지"})
                .grid.ver1
                  +edit_btn({title:"동영상", className:"mui_active"})
                  .slides_wrap(mui-slider="pagination:true;arrow:true;")
                    .slider
                      .swiper-wrapper
                        .slide_list.swiper-slide
                          .movie_photo
                            .preview 
                              img(src="/admin/images/img_ex3.png", alt="")
                        .slide_list.swiper-slide
                          .movie_photo
                            .preview 
                              img(src="/admin/images/img_ex3.png", alt="")
                        .slide_list.swiper-slide
                          .movie_photo
                            .preview 
                              img(src="/admin/images/img_ex3.png", alt="")



            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.sub
                //- +edit_btn({className:"big delete"})
                .grid.ver2
                  +edit_btn({title:"이미지 & 동영상", className:"mui_active"})
                  .movie_photo
                    .preview 
                      img(src="/admin/images/img_ex2.png", alt="")
                .grid.ver1
                  .grid_in
                    +edit_btn({title:"바로가기", className:"mui_active"})
                    a.goto_link(href="", style="background:rgba(45, 53, 155, 0.9)")
                      span.icon 
                        img(src="/admin/images/ico_ex5.png", alt="")
                      span.text 데이터 공간
                  .grid_in
                    +edit_btn({title:"바로가기", className:"mui_active"})
                    a.goto_link(href="", style="background:rgba(255, 255, 255, 0.9)") 
                      span.icon 
                        img(src="/admin/images/ico_ex4.png", alt="")
                      span.text(style="color:rgba(67, 74, 162, 1)") 지도 서비스
            .sec.blocks
              +move_btn({className:"hor"})
              +edit_btn({className:"big delete"})
              .grid_blocks.sub
                //- +edit_btn({className:"big delete", cla/ssName:"mui_active"})
                .grid.ver1
                  +edit_btn({title:"공지사항", className:"mui_active"})
                  .notice_wrap
                    .notice
                      p.title 공지사항
                      ul
                        li 
                          a 
                            span.text 공지사항입니다. 공지사항입니다. 공지사항입니다. 공지사항입니다. 
                            span.date 2021-12-31
                        li 
                          a 
                            span.text 공지사항입니다.
                            span.date 2021-12-31
                        li 
                          a 
                            span.text 공지사항입니다.
                            span.date 2021-12-31
                        li 
                          a 
                            span.text 공지사항입니다.
                            span.date 2021-12-31
                .grid.ver1
                  +edit_btn({title:"이미지", className:"mui_active"})
                  .movie_photo
                    .preview 
                      img(src="/admin/images/img_ex3.png", alt="")
                    a(href="").link
                      span.play
                .grid.ver1
                  +edit_btn({title:"이미지", className:"mui_active"})
                  .movie_photo
                    .preview 
                      img(src="/admin/images/img_ex3.png", alt="")


                  
            .sec.blocks
              +edit_btn()

    .edit_footer 
      .sec.logo(mui-addimage="target:.edit_btn;")
        +edit_btn({title:"로고", type:"file"})
      .sec.copy 
        +edit_btn({title:"푸터 내용 입력"})
    .edit_config 
      +button({
        label:"설정 열기",
        className:"toggle_layer",
        muiToggle:'target:#toggle_box1;'
      })
      div(hidden).config_conts#toggle_box1 
        p.title 제목
        //- +form()
        //-   +form_body({title:"이미지 파일 등록"})
        //-     +inputFile()
        //-     +text({
        //-       type:'warning',
        //-       text:"* 3840px X 2160px 를 권장 합니다."
        //-     })
        //-     +button_select({
        //-       label:"등록된 이미지 확인 및 수정"
        //-     })
        //-   +form_body({title:"이미지 파일 등록"})
        //-     +inputFile()
        //-     +text({
        //-       type:'warning',
        //-       text:"* 3840px X 2160px 를 권장 합니다."
        //-     })
        //-     +button_select({
        //-       label:"등록된 이미지 확인 및 수정"
        //-     })
        +tabsWrap({
          active:2,
          className:""
        })
          +tab("메인 기능")
            .layout_cont 
              button(type="button").box_block
                .box 
                  span 타이틀
              button(type="button").box_block
                .box 
                  span 타이틀
              button(type="button").box_block
                .box 
                  span 바로가기
                .box 
                  span 자주 찾는 서비스
              button(type="button").box_block.al3x1
                .box 
                  span 이미지&동영상
                .box 
                  span 이미지<br>&<br>동영상
              button(type="button").box_block.al1x3
                .box 
                  span 이미지<br>&<br>동영상
                .box 
                  span 이미지&동영상
              button(type="button").box_block
                .box 
                  span 타이틀
          +tab("메인 메뉴")
            .layout_cont 
              button(type="button").box_block.al4x4
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
                .box 
                  span 메인메뉴<br>&<br>이미지
          +tab("서브 메뉴")
            .layout_cont.al2x2
              button(type="button").box_block.group.main_menu
                .box 
                  span 메인 타이틀
                .box 
                  span 서브 타이틀
                .box 
                  span 검색바
                .box.end 
                  span 자주 찾는 서비스
              button(type="button").box_block.group.sub1x1x1
                .box_wrap
                  .box 
                    span 이미지
                  .box 
                    span 이미지
                .box_wrap
                  .box 
                    span 이미지
                  .box 
                    span 이미지
                .box 
                  span 동영상
              button(type="button").box_block.group.sub1x1x1
                .box 
                  span 동영상
                .box 
                  span 이미지
                .box 
                  span 이미지
              button(type="button").box_block.group.sub2x1
                .box 
                  span 동영상
                .box_wrap
                  .box 
                    span 바로가기
                  .box 
                    span 바로가기
              button(type="button").box_block.group.sub2x1
                .box 
                  span 동영상
                .box 
                  span 이미지
              button(type="button").box_block.group.sub1x2
                .box 
                  span 이미지
                .box 
                  span 동영상
          +tab("이미지&영상")

  .btnarea_new
    span.al
      button(type="button").btn.bg-grey.lg 초기화
      button(type="button").btn.bg-blue.lg 미리보기
    span.ar 
      button(type="button").btn.bg-grey.lg 이전
      button(type="button").btn.bg-blue.lg 완료

  
