@charset "UTF-8";

/* line 945, scss/common.scss */

#loginWidget{
	top : 52px !important;
	left : 23px !important;
	width : 45px;
}

.loginWidgetBtn{
	height: 50px;
	background-repeat: no-repeat;
	background-position: center 10px;
	width : 34px;
	background-image:url(../../images/toolbar/ico-tool-measure-active.png);
}
