@import "common/mixins";
@import "common/varialbles";
@import "common/animation";
@import "common/swiper";


@import '../../components/atoms/index.scss';
@import '../../components/molecules/index.scss';
@import '../../components/organisms/index.scss';
@import '../../components/templates/index.scss';

// * {
//   background-color: #ff0 ;
// }

.admin-logo {
  margin-left: 0px;
  font-size: 16px;
  font-family: 'Pretendard Bold';
  letter-spacing: -1.46px;
  cursor: pointer;
  color: #ffffff;
  &.subTitle {
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Pretendard';
  }
}