@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui{
  &_button{

  }

  &_select{
    display: block;
    width: 100%;
    text-align: left;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E9E9E9;
    &+.mui_select {
      margin-left:0;
      margin-top:16px;
    }
    .inset{
      display: block;
      position: relative;
      &::after{
        content: '';
        @include icon_svg(arrow-down, "#111", 20px);
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 0;
      }
    }
    .label{
      color:#555555;
    }
    .placeholder{
      display: none;
      color:$basic_color04;
      line-height: 48px;
      &:first-child{
        display: block;
      }
    }
    &:disabled{
      .placeholder, .label{
        color:$font_color05;
      }
      color:$font_color05;
      &::before{
        background: $font_color05 !important;
      }
    }
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &_tooltip{
    width: 20px;
    height: 20px;
    background: url($url_common+"ico_tooltip.svg") no-repeat center;
    &_wrap{
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    &_content{
      --mui-position-viewport-offset: 12;
      display: block;
      position: absolute;
      top: 40%;
      left: 50%;
      padding: 16px;
      border-radius: 12px;
      border: 1px solid #ddd;
      font-size: 13px;
      color:$font_color03;
      box-shadow: 0 6px 8px rgba(0,0,0,.04);
      background:$bg_color03;
      z-index: 999;
      .text{
        max-width: calc(100vw - 58px);
        display: block;
      }
      .mui_arrow{
        width: 12px;
        height: 9px;
        background: url($url_common+"ico_arrow2.png") no-repeat center;
        background-size: 100%;
        position: absolute;
        top: -8.5px;
        left: 50%;
        margin-left: -6px;
      }
    }
  }
}
