@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_input_file {
  display: flex;
  .file {
    position: relative;
  }
  input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height:100%;
  }
  input[type="text"] {
    width: 99%;
  }
  label {
    display: inline-flex;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    width: 120px;
    white-space: nowrap;
    padding: 0 34px;
    background: #436AEB;
    font-family: "Pretendard Bold";
    font-size: 14px;
    color: #fff;
    border-radius: 0 4px 4px 0;
  }

}
