@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";



.mui_maxlength{
  height: 20px;
  display: inline-block;
  vertical-align: top;
  span{
    display: inline-block;
  }
}
.mui_input{
  input[type="text"]{
    width: 100%;
  }
  width: 100%;
  &.mui_disabled{
    input{
      color: $font_color05 !important;
    }
    &::after{
      background:$basic_color05 !important;
    }
  }
}