extends ./docs/layout/base.pug
append global 
  - var title = "페이지 리스트23"
block content
  //- div 컨텐츠
  iframe.content_frame#content_frame
  script.
    const { $ } = GCui.util;
    const data = {
      "페이지 리스트" : {
        "템플릿 선택" : ["/html/page04.html", "complete"],
        "FIT_관리자" : ["/html/page01.html", "complete"],
        "가로형_관리자" : ["/html/page02.html", "complete"],
        "세로형_관리자" : ["/html/page03.html", "complete"],
        "FIT_관리자_기본" : ["/html/page01_2.html", "complete"],
        "가로형_관리자_기본" : ["/html/page02_2.html", "complete"],
        "세로형_관리자_기본" : ["/html/page03_2.html", "complete"],
        "FIT_페이지" : ["/html/page01_1.html", "complete"],
        "가로형_페이지" : ["/html/page02_1.html", "complete"],
        "세로형_페이지" : ["/html/page03_1.html", "complete"],

        "공통 검색" : ["/html/page05.html", "complete"],
        "공통 메뉴" : ["/html/page06.html", "complete"],
        "웹맵" : ["/admin/js/webmap/html/pages.html", "complete"],
        "웹맵2" : ["/admin/js/webmap/html/pages_m.html", "complete"],
        "웹맵3" : ["/admin/js/webapp/html/pages.html", "complete"],
      }





    };
    GCui.tree($('#treemenu'), {
      data: data,
      idName:'tree1',
      mainFrame:'#content_frame',
    })
