@charset "UTF-8";
.btn.sm {
    letter-spacing: -2.5px;
}
#userMenu .userInfo .alarm .btnAlarmDiv.loading .alarmLoading {
	position: absolute;
	left: 0;
	top: 0;
	width: 33px;
    height: 33px;
	border-radius: 50%;
	display: block;
	content: '';
		animation: 0.8s loading linear infinite;
	background: #2F5597 url("../images/common/ico-alarm-loading.png") no-repeat center;
}
#userMenu .userInfo .alarm .btnAlarmDiv.loading .alarmLoading:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	content: '';
	display: block;
	width: 9px;
	height: 13px;
	z-index: 10;
	background: url("../images/common/ico-alarm-loading-2.png") no-repeat center;
	animation: 1s loading2 linear infinite alternate;
}
#userMenu .userInfo {
    align-items: inherit;
}
#header .menu li.geocoding:hover:after, #header .menu li.geocoding.active:after {
	display: none;
}
#widget .dep1> li .basemap_tool span:hover{
		color: #fff;
	}
#widget .dep1> li .divideMap_tool span:hover{
		color: #fff;
	}
#widget .dep1> li .homeControl_moveHomeBtn span:hover{
		color: #fff;
	}
#widget .dep1> li .drawControl_toolBtn span:hover{
		color: #fff;
	}		
#widget .dep1> li .measureControl_toolBtn span:hover{
		color: #fff;
	}
#widget .dep1> li .clearControl_clearBtn span:hover{
		color: #fff;
	}	
#widget .dep1> li .divideMap_tool span:hover{
		color: #fff;
	}	
#widget .dep1> li .printControl_printBtn span:hover{
		color: #fff;
	}	
#widget .dep1> li .pnuGetter_searchBtn span:hover{
		color: #fff;
	}	
#optionTable #close{
	display : none;
}
.searchLoading{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 9999999999;
}
.searchLoading .box {
	    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.searchLoading .loadingImg {
	
    width: 28px;
    height: 28px;
    margin: 0 auto;
    background: url(../images/common/ico-search-loading.png) no-repeat center;
    background-size: cover;
    animation: loading 7s infinite linear;
}
.searchLoading p {
	display: block;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    font-family: "Pretendard";
    text-align: center;
}

@keyframes loading{
	from {
		transform : rotate(0);
	}
	to{
		transform : rotate(360deg);
	}
}

/* line 1455, scss/common.scss */
.app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* line 1456, scss/common.scss */
.app > .inner {
	padding: 30px;
	background: #fff;
}

.thisAddr .addrItem .roadAddr, .thisAddr .addrItem .jibunAddr {
	display:flex;
	align-items: normal;
}
.odfMarker > .thisAddr {
	width: 300px;
    top: -107px;
    left: -26px;
}
/* line 1457, scss/common.scss */
.app > .inner.type02 {
	display: flex;
	height: calc(100% - 120px);
	padding: 60px;
	background: #fafafa;
}

/* line 1459, scss/common.scss */
.app .tempList {
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 1856px;
}

/* line 1460, scss/common.scss */
.app .tempList .inner {
	display: flex;
	flex-wrap: wrap;
	padding: 0 228px;
}

/* line 1461, scss/common.scss */
.app .tempList .temp {
	width: 440px;
	margin-right: 40px;
	border: 2px solid transparent;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}

/* line 1462, scss/common.scss */
.app .tempList .temp:hover, .app .tempList .temp.active {
	border: 2px solid #333;
}

/* line 1463, scss/common.scss */
.app .tempList .temp .inner {
	padding: 20px;
}

/* line 1464, scss/common.scss */
.app .tempList .temp:nth-of-type(3) {
	margin-right: 0;
}

/* line 1465, scss/common.scss */
.app .tempList .temp .txtBox {
	margin-top: 10px;
}

/* line 1466, scss/common.scss */
.app .tempList .temp .tit {
	font-size: 18px;
	font-family: '맑은 고딕';
	color: #333;
}

/* line 1467, scss/common.scss */
.app .tempList .temp .desc {
	margin-top: 10px;
	font-size: 16px;
	font-family: '맑은 고딕';
	color: #333;
	letter-spacing: -1.2px;
}

.sampleFrame {
    border-radius: 0px;
}

.sampleFrame > .cont .contentArea {
    overflow : hidden;
}
#header .logo {
    text-align: center;
    margin: 10px 0;
}
.chartLayerSelect{
	width: 240px;
	height: 40px;
}

.chartContentTab{
	margin-top:20px;
	display : flex;
	background-color : white;
	/* justify-content: space-between */
}
.setChartBtn{
	background-color: #8faadc;
	padding: 0 15px;
	height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Pretendard";
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}
.chartLabel {
	display: block;
    width: 60px;
    text-align: center;
	color: #555;
    letter-spacing: -1.7px;
    font-size: 17px;
    margin-top: 8px;
}
.tagList a span{
	cursor: pointer;
}
.tabContWrap.type03 > .tabNav .tabList li .leng .red{
	color: #ff4600;
}
#webAppDetailModal .tabContWrap.type02 .tabCont {
    padding-top: 30px;
}
.subCont{	
	display: block;
    margin-top: 9px;
    margin-left: 16px;	
    max-height: 79px;
    overflow-y: auto;
}

/* analysLegendWidget */
#analysLegendWidget{position:absolute;right:10px;bottom:61px;text-align: right;}
.analysLegend_displayDiv {
    width: 300px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #e6e6ea;
    text-align: center;
    padding: 10px 15px 15px 5px;
    display :none;
}
.analysLegend_colorDiv {
    height: 40px;
}
.analysLegend_blank_div {
	width:10px;
	display:inline-block;
	height:40px;
	background-color:white;
}
.analysLegend_style_div {
	height:40px;
	display:inline-block;
}
.analysLegend_data_div {
	display:inline-block;
}

/* 측정도구 좌표select */
.thisAddr-srs-select {
	width:122px;
	margin:5px 0px 5px 155px;
	height:30px;
	
}

#mousePositionControlWidget {
    position: absolute !important;
    right: 240px;
    bottom: 20px;
    text-align: right;
}

.mousePosition-srs-select-div {
	display: none;
    position: absolute;
    right: 360px;
    bottom: 45px;
}

.mousePosition-srs-select {
    width:106px;
    height:20px;
    font-size:12px;
}

#drawStyle-fill-opacity-bar, #drawStyle-line-opacity-bar{
	width:220px; height:10px; font-size:12px;
}

#drawStyle-fillColor-box, #drawStyle-lineColor-box, #drawStyle-textColor-box {
	display: inline-block;
	width:30px;
	height:30px;
}

.drawStyle-box-wrapper {
	width:30px;
	height:30px;
	display: inline-block;
	margin-left:50px;
	border: 1px solid black;
}

.styleBox-button {
	background-color:gray;
	padding:3px;
}

.drawStyle-text-selectdiv {
	margin-top:10px;
	margin-bottom: 10px;
}

#drawStyle-text-fontSelect {
	width:130px;
	font-size:12px;
	height:30px;
	margin-right:10px
}
#drawStyle-text-sizeInput{
	height:28px;
	width:40px;
	text-align: center;
}

.drawStyle-text-bold {
	margin-top:30px;
}

.drawStyle-text-bold > span {
	font-size:17px;
	margin-right: 70px;
}

.drawStyle-text-boldBtn {
	margin-left :10px;
}
