@charset "UTF-8";
/* widget */
/* line 3, scss/widget.scss */
.odf-map {
	width: 100%;
	height: 100%;
}

#webMapSearchModal{
	position: relative !important;
	left: 25%;
	top: -90%;
}
#newWebMapModal{
	position: relative !important;
	left: 25%;
	top: -90%;
}
#webMapDetailModal{
	position: relative !important;
	left: 25%;
	top: -90%;
}
#webLyrModal{
	position: relative !important;
	left: 25%;
	top: -90%;
}
#widgetList{
	position: relative !important;
	left: 25%;
	top: -90%;
}
.editButton{
	flex-wrap: wrap;
}

