#alertDimmed, #alertPopBox {
  display: none !important;
}

.test_btn_list {
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  gap: 8px;
}
.test_btn_list button {
  background-color: #000;
  height: 36px;
  padding: 0 10px;
  color: #fff;
  border-radius: 4px;
}

.mui_link {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.mui_link a {
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  border: 1px solid rgb(47, 85, 151);
  color: rgb(47, 85, 151);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 4px;
}
.mui_link a.mui_active {
  background: rgb(47, 85, 151);
  font-family: "Pretendard Bold";
  color: #fff;
}

.modal_tooltip {
  width: 370px;
  box-sizing: border-box;
  position: absolute;
  overflow: visible;
  top: 200px;
  left: 100px;
  padding: 20px 11px;
}
.modal_tooltip .tabContWrap.type01 .tabCont {
  border: 0 none;
}
.modal_tooltip .tabContWrap.type01 .table {
  max-height: 376px;
  overflow: auto;
}
.modal_tooltip .tabContWrap.type01 .table.type02 {
  max-height: 331px;
}
.modal_tooltip .tabContWrap.type01 .table::-webkit-scrollbar {
  width: 14px;
  background-color: rgb(233, 233, 233);
}
.modal_tooltip .tabContWrap.type01 .table::-webkit-scrollbar-thumb {
  background-color: rgb(217, 217, 217);
  border-radius: 7px;
}
.modal_tooltip .section {
  padding-top: 20px;
}
.modal_tooltip .arrow {
  display: block;
  width: 44px;
  height: 24px;
  background: url("../js/webmap/images/popup/arrow.png") no-repeat center;
  bottom: -24px;
  position: absolute;
  left: 50%;
  margin-left: -22px;
}

.mui_form_field select {
  height: 30px;
}
.mui_form_field .form_body {
  display: block;
}
.mui_form_field .form_body ~ .form_body {
  margin-top: 24px;
}
.mui_form_field .select {
  display: flex;
  align-items: center;
}
.mui_form_field .select .label {
  width: 108px;
}
.mui_form_field .select .label + select {
  padding-right: 32px;
  width: 99%;
}
.mui_form_field .select_group {
  display: flex;
  gap: 2px;
}
.mui_form_field .select_group select {
  flex: 1;
}
.mui_form_field .btns {
  display: flex;
  justify-content: space-between;
}
.mui_form_field .btns button {
  height: 36px;
  color: #fff;
  border-radius: 4px;
  width: 241px;
}
.mui_form_field .btns button.write {
  width: 36px;
  color: transparent;
  font-size: 0;
  background: rgb(47, 85, 151) url("../js/webmap/images/popup/ico_write.png") no-repeat center;
}
.mui_form_field .btns button.search {
  background: rgb(47, 85, 151);
}
.mui_form_field .btns button.search span {
  display: inline-flex;
  padding-right: 28px;
  background: url("../js/webmap/images/popup/ico_search.png") no-repeat right center;
  line-height: 36px;
}

.data_table .txt {
  display: inline-flex;
  padding-left: 11px;
  position: relative;
}
.data_table .txt::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 1px;
  background: rgb(217, 217, 217);
}
.data_table th, .data_table td {
  padding: 16px 0 17px;
}

.movie_pop .mui_form_field {
  padding: 20px 12px;
}
.movie_pop .table_sec {
  padding: 0 12px;
  box-sizing: border-box;
}
.movie_pop .movie_list {
  margin-top: 24px;
  padding: 0 12px;
}
.movie_pop .movie_list > .title {
  font-size: 16px;
  color: #000;
}
.movie_pop .movie_list .list {
  margin-top: 10px;
  border: 1px solid rgb(238, 241, 248);
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
}
.movie_pop .movie_list .list .title {
  font-size: 15px;
  color: rgb(85, 85, 85);
}
.movie_pop .movie_list .list .btns button {
  width: 18px;
  height: 18px;
}
.movie_pop .movie_list .list .btns button ~ button {
  margin-left: 20px;
}
.movie_pop .movie_list .list .btns button.link {
  background: url("../js/webmap/images/popup/ico_link.png") no-repeat right center;
}
.movie_pop .movie_list .list .btns button.delete {
  background: url("../js/webmap/images/popup/ico_x.png") no-repeat right center;
}
.movie_pop .btn_wrap {
  text-align: center;
  padding: 24px 0 20px;
}
.movie_pop .btn_wrap button {
  min-width: 96px;
  height: 36px;
  box-sizing: border-box;
  background: rgb(47, 85, 151);
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
/*# sourceMappingURL=webmap.css.map */
